<%- include('../partials/header'); %>

<main class="main main-home container">
    <h2 class="home-header">Welcome To My Cartoon Page</h2>

    <img src="<%= data[0].image %>" alt="<%= data[0].name %>">
</main>

<%- include('../partials/footer'); %> 